<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Fu!</title>
</head>
<body>
<ul>
    <li><a href="/">/</a></li>
    <li><a href="/hello">/hello</a></li>
    <li><a href="/hello-event">/hello-event</a></li>
    <li><a href="/date">/date</a></li>
    <li><a href="/api/user">/api/user</a> </li>
    <li><a href="/api/user/5b24f75e5a86a170de98c1e7">/api/user/5b24f75e5a86a170de98c1e7</a> </li>
</ul>
</body>
</html>