<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Fu!</title>
</head>
<body>
<ul>
    <li><a href="/hello">Hello</a></li>
    <li><a href="/hello-mono">Hello Mono</a></li>
    <li><a href="/date">Date</a></li>
</ul>
</body>
</html>